{% extends "base.html" %}
{% block title %}
Map
{% endblock %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'map_style.css' %}">
{% endblock %}
{% block screen %}
<p><img src=https://m.media-amazon.com/images/M/MV5BMTY1NDA3ODM1OV5BMl5BanBnXkFtZTcwMDM5NzEzMQ@@._V1_SX300.jpg /></p>
<p>Moviemon strength : 5.9</p>
<p>Movieballs : 0</p>
<p>Player strength : 10</p>
<p>Winning rate : None</p>
{% endblock %}
{% block control %}
<ul>
	<li><button>Up</button></li>
    <li><button>Down</button></li>
    <li><button>Left</button></li>
    <li><button>Right</button></li>
    <li><button onclick="location.href = '/moviedex'">Select</button></li>
	<li><button>Start</button></li>
	<li><button onclick="location.href = '/throw_ball'">A</button></li>
	<li><button onclick="location.href = '/worldmap'">B</button></li>
    
</ul>
{% endblock %}
