{% extends "base.html" %}
{% block title %}
Map
{% endblock %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'map_style.css' %}">
{% endblock %}
{% block screen %}
<table>
<p>0 movieballs<p>
<p>Moviemons caught : ['Gladiator', 'Se7en', 'Spring Break']</p>
<tr>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
</tr>
<tr>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
</tr>
<tr>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'sacha.jpg' %}" height=30 width=30 style="text-align: center; vertical-align: middle;">
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
</tr>
<tr>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
</tr>
<tr>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
</tr>
<tr>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
</tr>
<tr>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
</tr>
<tr>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
</tr>
<tr>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
</tr>
<tr>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
</tr>
<tr>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
</tr>
<tr>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
</tr>
<tr>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
</tr>
<tr>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
</tr>
<tr>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
	<td>
		<img src="{% static 'grass.jpg' %}" height=30 width=30>
	</td>
</tr>
</table>
{% endblock %}
{% block control %}
<ul>
	<li><button onclick="location.href = '/moveup'">Up</button></li>
    <li><button onclick="location.href = '/movedown'">Down</button></li>
    <li><button onclick="location.href = '/moveleft'">Left</button></li>
    <li><button onclick="location.href = '/moveright'">Right</button></li>
    <li><button onclick="location.href = '/moviedex'">Select</button></li>
	<li><button onclick="location.href = '/worldmap'">Start</button></li>
	<li><button onclick="location.href = '/worldmap'">A</button></li>
	<li><button onclick="location.href = '/worldmap'">B</button></li>
    
</ul>
{% endblock %}
