{% extends "base.html" %}
{% block title %}
Map{% endblock %}
{% load static %}{% block styles %}{% endblock %}
{% block content %}
<table>
<tr>
	<td>
	</td>
	<td>
		<img src="./images/sacha.png" height=10 width=10>	</td>
	<td>
	</td>
	<td>
	</td>
	<td>
	</td>
</tr>
<tr>
	<td>
	</td>
	<td>
	</td>
	<td>
	</td>
	<td>
	</td>
	<td>
	</td>
</tr>
<tr>
	<td>
	</td>
	<td>
	</td>
	<td>
	</td>
	<td>
	</td>
	<td>
	</td>
</tr>
<tr>
	<td>
	</td>
	<td>
	</td>
	<td>
	</td>
	<td>
	</td>
	<td>
	</td>
</tr>
<tr>
	<td>
	</td>
	<td>
	</td>
	<td>
	</td>
	<td>
	</td>
	<td>
	</td>
</tr>
</table>
{% endblock %}
